<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="${'templates/admin/css/foundation.css'}" />
    <link rel="stylesheet" type="text/css" th:href="${'templates/experience/scratchpad.css'}" />
</head>
<body>
<div class="row" id = "top_row">
    <div class="small-12 large-8 columns large-centered small-centered"  id="query_area">
        <div class="large-12 columns">
            <div class="row collapse">
                <form id="actual_form" action="#" autocomplete="off" class="shadow" >
                    <div class="small-10 columns" >
                        <input type="text" placeholder="Please Enter Query." id="query_box" name="query" />
                    </div>
                    <div class="small-2 columns">
                        <button type="submit" class="button postfix" id="query_button">Ask</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row" id="bottom_row">
    <div class="small-8 large-8 columns large-centered small-centered" id="response_box"></div>

</div>
<script th:src="${'templates/admin/js/vendor/jquery.js'}"></script>
<script th:src="${'templates/admin/js/vendor/jquery.validate.min.js'}"></script>
<script th:src="${'templates/admin/js/vendor/foundation.js'}"></script>
<script>
    $(document).foundation();
</script>
<script>
    $(document).ready(function () {
    });

    $('#query_button').on('click', function(){
        $('#actual_form').validate({ // initialize the plugin
            rules: {
                query: {
                    required: true,
                    url: true
                }
            },
            messages : {
                query : "A valid URL is required."
            },
            submitHandler : function(form){
                var queryUrl = $('#query_box').val();
                var url = "v1/url";
                if(queryUrl){
                    var data = {'url' : queryUrl};
                    $.getJSON(url, data, function(response){
                        console.log("Response: "+ JSON.stringify(response));
                    });
                }
            }
        });
    });
</script>
</body>
</html>