body{
    background-image: url("/classifier/templates/img/experience_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
#top_row{
    height:50%;
}

#bottom_row{
    height: 50%;
}

#query_area{
    margin-top: 220px;
}

.shadow{
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,.12);
    -moz-box-shadow:0 2px 4px rgba(0,0,0,.12);
    -ms-box-shadow:0 2px 4px rgba(0,0,0,.12);
    -o-box-shadow:0 2px 4px rgba(0,0,0,.12);
    box-shadow:0 2px 4px rgba(0,0,0,.12)
}

#response_box{
    margin-top: 50px;
    height: 70%;
}

#query_box
{
    height: 50px;
    padding-right: none;
}

#query_button {
    height: 50px;
    padding-top: 15px;
    padding-left: none;

}

#text_box{
    height: 100%;
}


.column, .columns {
    padding-left: 0rem;
    padding-right: 0rem;
}